@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ul>
        <a href="./Actor">Actors</a>
        <a href="./Characters">Characters</a>
        <a href="./Genres">Genres</a>
        <a href="./Movies">Movies</a>
    </ul>
</div>
